<html>
<head>
<title>后台管理中心<?php echo $menuflag; ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="zh-CN">
</head>
<frameset rows="54,*" cols="*" frameborder="no" border="0" framespacing="0">
	<frame name="headerframe" noresize scrolling="no" src="__APP__/Admin/Public/header">
	<frameset cols="160,*" rows="*" frameborder="no" border="0" framespacing="0">
		<!--
		<?php if ($_SESSION['menuflag'] == 1) { ?>
		<frame name="menuframe" noresize scrolling="yes" src="__URL__/menu">
		<?php } else { ?>
		<frame name="menuframe" noresize scrolling="yes" src="__URL__/menugroup">
		<?php } ?>
		-->
		<frame name="menuframe" noresize scrolling="yes" src="__APP__/Admin/Public/menu">

		<frame name="mainframe" noresize scrolling="yes" src="__APP__/Admin/Public/main">
	</frameset>
<noframes>
<body>
<font color=red style=font-size:14px><b>你的浏览器不支持帧页面，请升级！</b></font>
</body>
</noframes>
</html>
