<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>后台管理登录</title>
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/index.css"/>
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/public.css"/>
</head>
<script type="text/javascript">
function funsubmit(){
	if(document.getElementById("adminname").value.trim()==""){
		alert("用户名不能为空！");
		document.getElementById("adminname").focus();
		return false;
	}
	if(document.getElementById("adminpwd").value.trim()==""){
		alert("密码不能为空！");
		document.getElementById("adminpwd").focus();
		return false;
	}
	if(document.getElementById("yzm").value.trim()==""){
		alert("验证码不能为空！");
		document.getElementById("yzm").focus();
		return false;
	}
	return true;
}

function focususername(){
	document.getElementById("adminname").focus();
}
</script>
<body >
	<div class="login_bg">
		<div class="login_con">
        <form name="form1" method="post" action="__URL__/checklogin" onsubmit="javascript:return funsubmit();">
			<h1><img src="__PUBLIC__/Admin/images/logo.png" alt="" /></h1>
			<input type="text" value="用户名" onfocus="if(this.value == '用户名') this.value = ''" onblur="if(this.value =='') this.value = '用户名'"  name="adminname" id="adminname" class="names" />
			<input type="text" value="密码"  name="adminpwd"  id="adminpwd" class="names" onfocus="if(this.value == '密码'){ this.value = ''; this.type='password';}" onblur="if(this.value ==''){ this.value = '密码'; this.type='text';}"  />
			<input type="text" value="" id="yzm" name="yzm" class="yzheng" />
			<img src="__URL__/yzm" alt="验证码" class="yz_bg" onclick="this.src='__URL__/yzm?'+Math.random();"/>
			<button type="text" class="login">登 录</button>
        </form>   
		</div>
		<span class="pows">Powered by <a style="color: #6f9188;" target="_blank" href="http://www.ggseo.cn/ezweb/">{:C('WebConfig_VersionName')}</a></span>
	</div>
</body>
</html>
